@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Project1.App.Models.LocationViewModel>;

@{
    ViewData["Title"] = "Location";
}

<h1> Location </h1>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<p> Choose Location To Proceed to Ordering Products </p>
<a asp-controller="Customer" asp-action="Detail" asp-route-id=@TempData["CustomerID"] name="ID">Back to Detail</a>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Y)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Y)
                </td>
                <td>
                    <a asp-controller="Location" asp-action="Detail" asp-route-id="@item.LocationID">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Customer" asp-action="Detail" asp-route-id=@TempData["CustomerID"] name="ID">Back to Detail</a>
