@model IEnumerable<Project1.App.Models.OrderDetailViewModel>;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    
    <a asp-action="Detail" asp-route-id=@TempData["CustomerID"]>Back to Detail</a>
    @foreach(var item in Model)
    {
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Price)
            </dt>
            <dd class="col-sm-10">
                $ @Html.DisplayFor(model => item.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Quantity)
            </dd>
    </dl>
    <a asp-action="Detail" asp-route-id=@TempData["CustomerID"]>Back to Detail</a>
        }
</div>